NODE_ENV=
PORT=

DB_CONNECTION_STRING=
JWT_SECRET_KEY=

REDIS_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAILTRAP_HOST=
MAILTRAP_PORT=
MAILTRAP_USER=
MAILTRAP_PASS=
EMAIL_FROM=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

DISABLE_HIGHLIGHT_WORKER=

FRONTEND_URL=
BACKEND_URL=
