DB_CONNECTION_STRING=
PORT=
JWT_SECRET_KEY=

MAILTRAP_HOST=
MAILTRAP_PORT=
EMAIL_FROM=
MAILTRAP_USER=
MAILTRAP_PASS=

FRONTEND_URL=
BACKEND_URL=

NODE_ENV=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
